.btnFacebook {
  width: 300px;
  height: 42px;
  border-radius: 4px;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  text-align: center;
  font-size: 1.4rem;
  margin: 5px;
  display: inline-block;
}

.btnFacebook:hover {
  background: #3b5998;
  opacity: 0.8;
  cursor: pointer;
}

.loginForm {
    margin-top: 10%;
    border: 2px #3b5998 solid;
    border-radius: 8px;
    text-align: center;
    font-size: 2.5rem;
    padding: 30px;
}

.buttonLogin {
    width: 100%;
    justify-content: center;
}